.c-header {
  padding: 60px 60px 40px 40px;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background-color: $kip-white;
}

.c-header__logo {
  font-size: 24px;
}

.c-header__content {
  width: 100%;
  height: 100%;
  max-width: 860px;
  margin: 0 auto;
  align-items: center;
}

.c-header__menu {
  font-weight: bold;
}
