.c-main {
  padding: 90px 40px 60px 40px;
  width: 100%;
  max-width: 720px;
  background-color: $kip-white;
  height: 100vh;
}

.c-main h1 {
@include kip-font-h5;
color: $kip-black-1;
margin: 0;
padding-bottom: 40px;
}

