.c-main {
  padding: 30px 40px 60px 40px;
  width: 100%;
  max-width: 720px;
  background-color: $kip-white;
  height: 100%;
}

.c-main h1 {
@include kip-font-h5;
color: $kip-black-1;
margin: 0;
padding: 60px 0 40px 0;
}

