.Modal {
  width: 100%;
  max-width: 720px;
  border-radius: 24px;
}
.postmodal{
  height: 100%;
  background-color: $kip-black-4;
  margin: 0 auto;
  pading: 20px;

}
.postmodal img{
  padding-right: 15px;
  border-radius: 50%;
  float: left;
}

.postmodal h2{
  padding-top: 20px;
  @include kip-font-h6;
  color: $kip-black-1;
  margin: 0;
  padding-bottom: 10px;
  float: left;
}

.postmodal textarea{
  width: 100%;
  max-width: 600px;
  padding: 0px;
  @include kip-font-body1;
  color: $kip-black-1;
  margin: 0;
  padding-bottom: 10px;
}
.c-categoryselect {
  display:inline-block;
  flex-direction: row;
  padding: 10px 15px;
  @include kip-font-body2;
  background-color: $kip-green;
  color: $kip-white;
  margin: 0 10px 0 0;
  border: 1px solid $kip-black-4;
  border-radius: 50vh;
  float: right;
}

