// color
$kip-green: #00838E;
$kip-black-1: #37383A;
$kip-black-2: rgba(55,56,58,0.54);
$kip-black-3: rgba(55,56,58,0.26);
$kip-black-2: rgba(55,56,58,0.12);
$kip-white: #FFF;
$kip-alto-1: #F1F1F1;
$kip-alto-2: #E4E4E4;

//fontstyle
@mixin kip-font-h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 142px;
  letter-spacing: -0.015em;
}

@mixin kip-font-h2 {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 89px;
  letter-spacing: -0.005em;
}

@mixin kip-font-h3 {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 71px;
}

@mixin kip-font-h4 {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 50px;
  letter-spacing: 0.0025em;
}

@mixin kip-font-h5 {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}

@mixin kip-font-h6 {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.0015em;
}

@mixin kip-font-subtitle1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
}

@mixin kip-font-subtitle2 {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.001em;
}

@mixin kip-font-body1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
}

@mixin kip-font-body2{
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.0025em;
}

@mixin kip-font-button {
  font-family: 'Noto Sans JP', sans-serif;
  font-family: Noto Sans CJK JP;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.0125em;
}

@mixin kip-font-caption {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.004em;
}

@mixin kip-font-overline {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.015em;
}