.l-justify-left {
  display: flex;
  justify-content: flex-start;
}

.l-justify-right {
  display: flex;
  justify-content: flex-end;
}

.l-justify-center {
  display: flex;
  justify-content: center;
}

.l-justify-spaceBetween {
  display: flex;
  justify-content: space-between;
}

.l-header {
  position: fixed;
  float: left;
}

.l-main {
  background-color: $kip-white;
  float: right;
}

.l-contents{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;

}
.l-login{
  float: right;
  width: 100%;
  max-width: 400px;
  margin: 300px 0;
}

.l-lp{
  float: left;
  text-align: center;
  width: 100%;
  max-width: 800px;
  padding: 80px 38px;
  height: 100vh;
  margin: 0 auto;
}


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}